@tailwind base;
@tailwind components;
@tailwind utilities;

/* global resets */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* any app-level vars */
:root { --primary-dark: #003465; }